* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  display: block;
  width: 10%;
  height: 700px;
  position: relative;

  font-family: "Geist Mono";
  font-size: 18px;
  font-weight: 400;
}

.sidebar-container {
  display: flex;
  flex-direction: row-reverse;
  width: 30rem;
  height: auto;
  margin-top: 10rem;

  position: absolute;
  transform: rotate(-90deg);
  top: 60%;
  left: -1px;
  transform-origin: top left;
}

.side-item {
  text-align: center;
  background-color: white;
  width: 227px;
  height: 40px;
  border-radius: 0 0 10px 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.projekt1 {
  margin-left: 0.5rem;
}

.projekt1:hover {
  background-color: #ff8d4f;
}

.projekt2 {
  margin-right: 0.5rem;
}

.projekt2:hover {
  background-color: #6cdff4;
}

.hidden {
  display: none;
}
