* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.component2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ff8d4f;
  width: 50%;
  height: 400px;
  padding: 2rem;
  border-radius: 10px;
  overflow-y: scroll;
}

@media (max-width: 1275px) {
  .component2 {
    padding: 1rem;
  }
}

@media (max-width: 800px) {
  .component2 {
    width: 100%;
  }
}
