* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.component3 {
  width: 50%;
  height: 400px;
  border-radius: 10px;
  padding: 2rem;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  font-family: "Geist";
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.post-container {
  height: 100%;
  overflow-y: auto;
  padding-right: 10px;
}

/* Fade */
.bottom-fade {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(to bottom, transparent, rgb(246, 245, 245));
  pointer-events: none;
  z-index: 10;
}

@media (max-width: 800px) {
  .component3 {
    width: 100%;
  }
}
